@using System.Runtime.InteropServices.ComTypes
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/my_site.css" />
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="//fonts.googleapis.com/css?family=Sofia" rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Ultra" rel='stylesheet'>
    <script src="lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="w3-bar w3-green">
    @{
        var NavBarClass = new {@class = "w3-bar-item w3-button"};
    }
    @Html.ActionLink("Home", "Index", "Default", null, NavBarClass)
    @Html.ActionLink("Objectives", "Index", "Objectives", null, NavBarClass)
    @Html.ActionLink("TypeScirpt", "Index", "TypeScript", null, NavBarClass)
</div>
<div class="w3-container w3-quarter">
    
</div>
<div class="w3-container w3-threequarter">
    @RenderBody()
</div>
</body>
</html>
